.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 70px 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 720px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  margin-bottom: 0;
  margin-top: 20px;
  height: 399px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 248px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 14px 157px 0 0;
}

.u-section-1 .u-btn-1 {
  margin: -60px 11px 0 auto;
  padding: 10px 47px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 243px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-1 .u-text-4 {
  animation-duration: 1000ms;
  margin: 14px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 157px 0 0;
}

.u-section-1 .u-btn-2 {
  margin: -60px 11px 0 auto;
  padding: 10px 34px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 229px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-1 .u-text-6 {
  margin: 14px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 157px 0 0;
}

.u-section-1 .u-btn-3 {
  margin: -60px 11px 0 auto;
  padding: 10px 40px 10px 39px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 594px;
  }

  .u-section-1 .u-image-1 {
    height: 329px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 57px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 200px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 57px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 189px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 57px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 252px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 7px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 7px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 378px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 238px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }
}